.btn {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s ease;
    color: var(--font-color-gray);
    flex: none;
}

.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.btn--small {
    padding: 4px 8px;
    font-size: 16px;
}

.btn--medium {
    padding: 6px 12px;
    font-size: 18px;
}

.btn--large {
    padding: 10px 28px;
    font-size: 20px;
}

.btn--default {
    border: 1px solid var(--border-color-gray);
}

.btn--default:hover:not(:disabled) {
    border-color: var(--color-green-hover);
    color: var(--color-green-hover);
}

.btn--filled {
    background-color: var(--color-green-hover);
    font-weight: 500;
}

.btn--filled:hover:not(:disabled) {
    background-color: var(--color-primary-green-hover);
}

.btn--filter {
    background-color: var(--color-light-gray);
    border: 1px solid var(--border-color-light-gray);
}

.btn--filter:hover {
    background-color: var(--header-background-color);
}

.btn--icon {
    padding: 0;
}

.btn--icon:hover:not(:disabled) {
    color: var(--color-green-hover);
}