.root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color-gray);
    border-radius: 10px;
    padding: 4px 10px;
    gap: 4px;
    color: var(--font-color-gray);
}

.root:hover {
    cursor: pointer;
}

.text {
    font-size: 18px;
}