.root {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.values {
    display: flex;
    justify-content: space-between;
}

.values span {
    background-color: var(--color-light-gray);
    padding: 4px 8px;
    text-align: center;
    min-width: 48px;
    border-radius: 4px;
}

.slider {
    display: flex;
    flex-direction: row;
    height: 4px;
    border-radius: 50px;
    position: relative;
}

.thumb {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--border-color-gray);
    border-radius: 50px;
    top: -4px;
    cursor: pointer;
    transform: translateX(-50%);
}