.root {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 12px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    height: 300px;
    gap: 8px;
}

.img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 3;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 48px;
    overflow-wrap: break-word;
    flex: 1;
}

.root span {
    display: block;
}

.title {
    text-wrap: 1;
}