.root {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 54px;
    background-color: var(--header-background-color);
    z-index: 100;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    height: 100%;
}

.logo {
    text-transform: uppercase;
}

.logo h2 {
    transition: 0.2s ease;
}

.logo h2:hover {
    color: var(--color-green-hover);
}

.search {
    display: none;
    flex-direction: row;
    align-items: center;
    min-width: 400px;
    gap: 8px;
    background-color: var(--main-background-color);
    border-radius: 12px;
    padding: 6px 10px;
    color: var(--font-color-gray);
}

.search__input {
    width: 100%;
    font-size: 18px;
    border: 0;
    background-color: var(--main-background-color);
    color: var(--font-color-light-gray);
    font-weight: 300;
}

.search__input::placeholder {
    color: inherit;
    font-weight: inherit;
}

.search__input:focus {
    outline: none;
}

.tabler-icon-search {
    color: #8a8888;
}

.search:has(.search__input:focus) .tabler-icon-search {
  color: rgb(40, 40, 40);
}

.navbar {
    display: none;
    flex-direction: row;
    gap: 8px;
}

.searchButton {
    display: block;
}

@media (min-width: 1024px) {
    .navbar {
        display: flex;
    }

    .search {
        display: flex;
    }

    .searchButton {
        display: none;
    }
}