.root {
    position: sticky;
    top: 54px;
    width: 100%;
    height: 50px;
    background-color: var(--main-background-color);
    border-bottom: 1px solid var(--border-color-light-gray);
    z-index: 90;
}

.filterPanelWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    height: 100%;
}

.filterPanel {
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.showFiltersBtn {
    display: flex;
    width: 100%;
    min-width: 160px;
}

.showFiltersBtn button {
    width: 100%;
}


@media (min-width: 1024px) {
    .showFiltersBtn {
        display: none;
    }

    .filterPanel {
        display: flex;
    }
}