.root {
    position: sticky;
    top: 50px;
    width: 100%;
    height: 50px;
    background-color: var(--main-background-color);
    border-bottom: 1px solid var(--border-color-light-gray);
    z-index: 90;
}

.filterPanel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.filterValues {
    display: flex;
    flex-direction: row;
    gap: 8px;
}